@media not print {
    @media (prefers-color-scheme: dark) {
        body:not([data-theme="light"]) .nboutput img {
            filter: invert();
        }
    }
  
    body[data-theme="dark"] .nboutput img {
        filter: invert();
    }
}

.sidebar-versions {
    display: flex;
    column-gap: 10px;
    align-items: center;
    padding: var(--sidebar-item-spacing-vertical) var(--sidebar-item-spacing-horizontal);
}
  